ENV=development
PORT=4000
JWT_SECRET_KEY=your_jwt_secret_key

# PostgreSQL Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=market_guardian
DB_USER=postgres
DB_PASSWORD=postgres_password
DB_SSL=false

# Brevo Keys
BREVO_API_KEY=your_brevo_api_key
SENDER_EMAIL=your_sender_email
SENDER_NAME=your_sender_name

# AWS Credentials
AWS_ACCESS_KEY_ID=your_aws_access_key
AWS_SECRET_ACCESS_KEY=your_aws_secret_key
AWS_REGION=us-east-1

# S3 Bucket & Folder for user profiles
S3_BUCKET_NAME=your_bucket_name
PROFILE_FOLDER=images/
